spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  application:
    name: Service Starter

server:
  port: 8080
#  servlet:
#    context-path: /starter

app_api:
  header: 
    appId: AppId
    appSecurity: AppSecurity
  cache: 3600

#mybatis
mybatis-plus:
  mapper-locations: classpath:/mapper/*Mapper.xml
  #实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: com.hptiger.starter.entity
  type-enums-package: com.hptiger.starter.entity.enums
  global-config:
    # 数据库相关配置
    db-config:
      #主键类型  AUTO:"数据库ID自增", INPUT:"用户输入ID",ID_WORKER:"全局唯一ID (数字类型唯一ID)", UUID:"全局唯一ID UUID";
      id-type: AUTO
      #字段策略 IGNORED:"忽略判断",NOT_NULL:"非 NULL 判断"),NOT_EMPTY:"非空判断"
      field-strategy: NOT_EMPTY
      #驼峰下划线转换
      column-underline: true
      #数据库大写下划线转换
      #capital-mode: true
      #逻辑删除配置
      logic-delete-value: 1
      logic-not-delete-value: 0
    #刷新mapper 调试神器
    refresh: true
  # 原生配置
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    
---
spring:
    profiles: dev
    datasource:
        initialization-mode: always
        url: jdbc:mysql://127.0.0.1:3306/starter?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false
        username: root
        password: 12345678
        driver-class-name: com.mysql.jdbc.Driver
        schema: classpath:schema.sql
        data: classpath:init.sql,classpath:mock.sql
    redis:
      database: 0
      host: localhost
      port: 6379
      password:
      lettuce:
        pool:
          max-active: 16
          max-wait: -1ms
          max-idle: 16
          min-idle: 0
        shutdown-timeout: 200ms
    mail:
      host: smtp.exmail.qq.com
      username: webmaster@hptiger.com
      password: 1q2w3e4r5t6y7u8i9o)P
      port: 587
      properties:
        mail:
          smtp:
            auth: true
            connectiontimeout: 6000
            timeout: 5000
            writetimeout: 5000
            debug: true
        nickName: 小二
    
jwt:
  header: Authorization
  secret: hellosecret
  expiration: 259200
  route:
    authentication:
      path: login
      refresh: refresh    

  
logging:
  level:   
    org:
      springframework:
        web: INFO
        security: INFO
        transaction: TRACE
    com:
      bdease: DEBUG

app:
  defaultPassword: 12345678
  mini:
    appId: weixinAPPID
    appSecret: weixinAPPSecret
    loginURL: https://api.weixin.qq.com/sns/jscode2session?appid=${app.mini.appId}&secret=${app.mini.appSecret}&js_code=%s&grant_type=authorization_code
  aliyun:
    aliyun-configs:
      - 
        tenent-code: ORG10001         
        access-key-id: ali access key id
        access-secret: ali access secret        
        sms-config:
          sign-name:  虎虎研发
          templates:
            - 
              template-name: login
              template-code: SMS_9666237
            - 
              template-name: check
              template-code: SMS_9666237
      - 
        tenent-code: ORG10002         
        access-key-id: zzz
        access-secret: zzzz
        sms-config:
          sign-name:  莫库什勒信息科技          
          templates:
            - 
              template-name: login
              template-code: SMS_9666237
            - 
              template-name: check
              template-code: SMS_9666237
  queue:
    queues:
      -
        queue_name: queue:validation_code
        subscribers:
          - com.hptiger.starter.queue.RedisMessageMailSubscriber
          - com.hptiger.starter.queue.RedisMessageSMSSubscriber

    
role:
  users:
    - 
      #管理员
      role: ROLE_MANAGER
      user: manager
      password: 12345678
    -
      #超级管理员
      role: ROLE_SUPER_ADMIN
      user: superAdmin
      password: 12345678
    -
      #客人
      role: ROLE_GUEST
      user: guest
      password: 12345678

file:
  tmp-delete: false

fdfs:
  so-timeout: 1501
  connect-timeout: 601
  thumb-image:
    width: 150
    height: 150
  tracker-list:
    - 172.16.177.88:22122
      
management:
  endpoints:
    web:
      exposure:
        include: "*"
        
---
spring:
    profiles: prod
    datasource:
        initialization-mode: always
        url: jdbc:mysql://127.0.0.1:3306/starter?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false
        username: root
        password: 12345678
        driver-class-name: com.mysql.jdbc.Driver
        schema: classpath:schema.sql
    redis:
      database: 0
      host: localhost
      port: 6379
      password:
      lettuce:
        pool:
          max-active: 8
          max-wait: -1ms
          max-idle: 8
          min-idle: 0
        shutdown-timeout: 200ms
  
jwt:
  header: Authorization
  secret: hellosecret
  expiration: 259200
  route:
    authentication:
      path: login
      refresh: refresh
    

logging:
  level:   
    org:
      springframework:
        web: INFO
        security: INFO
    com:
      hp: INFO
      
app:
  defaultPassword: 1q2w3e4r5T
  mini:
    appId: wechat app id
    appSecret: wechat app secret
    loginURL: https://api.weixin.qq.com/sns/jscode2session?appid=${app.mini.appId}&secret=${app.mini.appSecret}&js_code=%s&grant_type=authorization_code

role:
  users:
    - 
      #管理员
      role: ROLE_MANAGER
      user: manager
      password: 12345678@prod
    -
      #超级管理员
      role: ROLE_SUPER_ADMIN
      user: superAdmin
      password: 12345678@prod
    -
      #客人
      role: ROLE_GUEST
      user: guest
      password: 12345678@prod

file:
  tmp-delete: false

fdfs:
  so-timeout: 1501
  connect-timeout: 601
  thumb-image:
    width: 150
    height: 150
  tracker-list:
    - 172.16.177.88:22122
    - 172.16.44.46:22122 
  
--- 
spring:
    profiles: test1   
    datasource:
        initialization-mode: always
        url: jdbc:mysql://127.0.0.1:3306/spm?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false
        username: root
        password: 12345678
        driver-class-name: com.mysql.jdbc.Driver
        schema: classpath:schema.sql
    redis:
      database: 0
      host: localhost
      port: 6379
      password:
      lettuce:
        pool:
          max-active: 8
          max-wait: -1ms
          max-idle: 8
          min-idle: 0
        shutdown-timeout: 200ms
  
jwt:
  header: Authorization
  secret: hellosecret
  expiration: 259200
  route:
    authentication:
      path: login
      refresh: refresh

logging:
  level:   
    org:
      springframework:
        web: INFO
        security: INFO
    com:
      shuyun365: DEBUG

app:
  defaultPassword: 12345678
  mini:
    appId: wechat app id
    appSecret: wechat app secret
    loginURL: https://api.weixin.qq.com/sns/jscode2session?appid=${app.mini.appId}&secret=${app.mini.appSecret}&js_code=%s&grant_type=authorization_code
        
role:
  users:
    - 
      #管理员
      role: ROLE_MANAGER
      user: manager
      password: 12345678@test1
    -
      #客户
      role: ROLE_GUEST
      user: guest
      password: 12345678@test1
    -
      #超级管理员
      role: ROLE_SUPER_ADMIN
      user: superAdmin
      password: 12345678@test1

file:
  tmp-delete: false

fdfs:
  so-timeout: 1501
  connect-timeout: 601
  thumb-image:
    width: 150
    height: 150  
  tracker-list:
    - 172.16.177.88:22122
    - 172.16.44.46:22122
