<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdease.spm.mapper.ShopGoodsMapper">
    <select id="pageShopGoods" resultType="com.bdease.spm.vo.ShopGoodsVO">
        SELECT
        sg.id,
        sg.shop_id,
        sg.price shop_price,
        s.name AS shop_name,
        g.img_url,
        g.identifier,
        g.name,
        g.spec,
        g.price,
        g.status,
        g.description
        FROM
        goods g
        JOIN
        shop_goods sg ON sg.goods_id = g.id
        JOIN
        shop s ON sg.shop_id = s.id
        WHERE 1 = 1
        <if test="shopId != null">
            AND sg.shop_id = #{shopId}
        </if>
        <if test="goodsName != null">
            <bind name="patternGoodsName" value="'%' + goodsName + '%'" />
            AND (g.name like #{patternGoodsName}  OR g.identifier like #{patternGoodsName})
        </if>
        AND sg.del_flag = '0'
        AND g.del_flag = '0'
        AND g.status = '103001'
        <if test="shopIds != null and shopIds.size() > 0">
            AND sg.shop_id in (#{shopIds})
        </if>
    </select>

    <select id="pageShopAvailableGoods" resultType="Goods">
        SELECT
        g.*
        FROM
        goods g
        WHERE
        g.status = '103001' AND g.del_flag = '0'
        <if test="goodsName != null">
            <bind name="patternGoodsName" value="'%' + goodsName + '%'" />
            AND (g.name like #{patternGoodsName}  OR g.identifier like #{patternGoodsName})
        </if>
        AND NOT EXISTS (SELECT
        sg.goods_id
        FROM
        shop_goods sg
        WHERE
        sg.del_flag = '0' AND sg.goods_id = g.id
        <if test="shopId != null">
            AND sg.shop_id = #{shopId}
        </if>
        )
    </select>

</mapper>
